<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crud Application</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            {% if user.is_authenticated%}

            <li>
                <a href="/persona">Persona</a>
            </li>

            <li>
                <a href="/persona/create/">Create Persona</a>
            </li>

            <li>
                <a href="/logout">Logout</a>
            </li>

            {% else %}
            <li>
                <a href="/signup">Signup</a>
            </li>
            <li>
                <a href="/signin">Signin</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

</body>
</html>