{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium asperiores aspernatur deserunt dolorem earum error est exercitationem id impedit incidunt iure labore maiores nemo nesciunt obcaecati odit perferendis placeat quibusdam quidem quisquam, reiciendis repellat repudiandae saepe sapiente sed sit sunt, tempora ullam ut vero voluptatem voluptates voluptatum! Architecto commodi consequatur culpa cupiditate deleniti ea eaque esse facilis fugit in ipsam iusto minima nemo nesciunt nisi obcaecati odit optio porro quisquam ratione recusandae, repellat repellendus tempora vel vero? Accusamus consequatur consequuntur cum dolorem ducimus earum exercitationem expedita hic ipsam, labore libero maiores nostrum, odit saepe sunt suscipit totam voluptas voluptatibus.
</p>
{% endblock %}
